<header>
  <div class="bg-gray-900 p-4">
    <div class="container mx-auto flex justify-between items-center">

      <button mat-button (click)="onClick()">
        <mat-icon class="text-white">casino</mat-icon>
      </button>

      <div class="flex justify-center items-center w-full">
        <a href="/" class="text-white text-xl font-bold text-center">Probissimo Bet</a>
      </div>

      <!-- Seção para telas maiores -->
      <div class="hidden md:flex space-x-4" *ngIf="!verifyUserIsLogged()">
        <button class="text-white py-2 px-4" (click)="handleOpenModal(false)">
          Criar Conta
        </button>
        <button type="button" class="rounded-lg bg-indigo-500 text-white py-2 px-4" (click)="handleOpenModal(true)">
          Login
        </button>
      </div>

      <!-- Seção para telas menores -->
      <div class="flex md:hidden space-x-4" *ngIf="!verifyUserIsLogged()">
        <button mat-button [matMenuTriggerFor]="beforeMenu">
          <mat-icon class="text-white hover:text-gray-500 focus:outline-none flex items-center">
            menu
          </mat-icon>
        </button>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
          <button mat-menu-item (click)="handleOpenModal(false)">Criar Conta</button>
          <button mat-menu-item (click)="handleOpenModal(true)">Login</button>
        </mat-menu>
      </div>

      <!-- Seção para usuário logado - Telas maiores -->
      <div class="hidden md:flex space-x-4" *ngIf="verifyUserIsLogged()">
        <div class="relative flex items-center space-x-2">
          <button class="text-white hover:text-gray-500 focus:outline-none flex items-center">
            <mat-icon>payments</mat-icon>
          </button>
          <p matTooltip="Dinheiro total" class="font-bold text-white hover:text-gray-500 py-2 pr-2">$10 | currency : 'BRL'</p>
          <button mat-button [matMenuTriggerFor]="beforeMenu">
            <mat-icon class="text-white hover:text-gray-500 focus:outline-none flex items-center">
              account_circle
            </mat-icon>
          </button>
          <mat-menu #beforeMenu="matMenu" xPosition="before">
            <button mat-menu-item>Carteira</button>
            <button mat-menu-item><a routerLink="/user" routerLinkActive="active">Minha Conta</a></button>
            <button mat-menu-item [className]="['rounded-lg bg-red-500 text-white w-full text-left py-2 px-4 mt-2']"
              (click)="logout()">
              Sair
            </button>
          </mat-menu>
        </div>
      </div>

      <!-- Seção para usuário logado - Telas menores -->
      <div class="md:hidden flex items-center space-x-2" *ngIf="verifyUserIsLogged()">
        <button class="text-white hover:text-gray-500 focus:outline-none flex items-center">
          <mat-icon>payments</mat-icon>
        </button>
        <p matTooltip="Dinheiro Total" class="font-bold text-white hover:text-gray-500 py-2 pr-2">$10 | currency : 'BRL'</p>
        <button mat-button [matMenuTriggerFor]="beforeMenu">
          <mat-icon class="text-white hover:text-gray-500 focus:outline-none flex items-center">
            account_circle
          </mat-icon>
        </button>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
          <button mat-menu-item>Carteira</button>
          <button mat-menu-item><a routerLink="/user" routerLinkActive="active">Minha Conta</a></button>
          <button mat-menu-item [className]="['rounded-lg bg-red-500 text-white w-full text-left py-2 px-4 mt-2']"
            (click)="logout()">
            Sair
          </button>
        </mat-menu>
      </div>

    </div>
  </div>
</header>