<header>
  <div class="bg-gray-900 p-4">
    <div class="container mx-auto flex justify-between items-center">
      <div>
        <a href="/" class="text-white text-xl font-bold">Probissimo Bet</a>
      </div>
      <div class="md:w-auto">
        <button
          class="text-white p-2 px-4"
          (click)="handleOpenModal(false)"
          >
          Criar Conta
        </button>
        <button
          class="text-white p-2 px-4"
          (click)="handleOpenModal(true)"
          >
          Login
        </button>
      </div>
    </div>
  </div>
</header>