<!-- form trasction -->
<section>
  <p class="text-xl font-semibold text-center my-4">Transação</p>
  <form [formGroup]="formTransaction" (ngSubmit)="onCreatedTransactionSubmit()">
    <mat-card>
      <mat-card-content>

        <mat-form-field class="w-full">
          <mat-label>Valor</mat-label>
          <input matInput type="number" formControlName="value" class="example-right-align" placeholder="0" />
          <span matTextPrefix>$&nbsp;</span>
          <span matTextSuffix>.00</span>
          <mat-error *ngIf="formTransaction.get('value')">Campo Obrigatório</mat-error>
        </mat-form-field>

        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Tipo de Transação</mat-label>
          <mat-select [(value)]="selectedTransaction" formControlName="type">
            <mat-option *ngFor="let transaction of typeTransactionValues" [value]="transaction">
              {{ transactionLabels[transaction] }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div class="flex justify-end">

          <button type="button" class="rounded-full bg-red-500 hover:bg-red-700 px-4 py-2 mx-4 my-4">
            Cancelar
          </button>

          <button type="submit" class="rounded-full bg-green-500 hover:bg-green-700 px-4 py-2 mx-4 my-4">
            Enviar
          </button>

        </div>

      </mat-card-content>
    </mat-card>
  </form>
</section>